news.izquiratops.dev {
    @css {
        path_regexp css ^/news\.css(\?.*)?$
    }
	
    handle @css {
        root * /var/www/html/news.izquiratops.dev
        file_server
    }

    handle {
        reverse_proxy https://news.ycombinator.com {
			header_up Host news.ycombinator.com
		}
    }
}