:root {
    --theme-background: #1a1e1a;
    --theme-comments: #a9a9a9;
    --theme-white: #d6d6d6;
    --theme-primary: #b4d273;
    --theme-links: #6c99bb;
    --theme-font-big: 0.9rem;
    --theme-font-small: 0.8rem;
}

body {
    background: var(--theme-background);
}

#hnmain {
    background: var(--theme-background);
}

/* HN Orange elements */
td[bgcolor="#ff6600"] {
    background: var(--theme-primary);
}

.athing {
    line-height: 1.6rem;
}

/* Text for every post in the main feed */
.title {
    font-size: var(--theme-font-big);
}

.titleline > a, span, .comhead {
    color: var(--theme-white);
}

.rank {
    color: var(--theme-comments);
    vertical-align: middle;
}

.subtext {
    color: var(--theme-primary);
    font-size: var(--theme-font-small);

    a:link, a:visited, span {
        color: var(--theme-primary);
    }
}

/* Comment section */
.comment > div {
    color: var(--theme-white);
    font-size: var(--theme-font-big);
}

.comhead a:link {
    color: var(--theme-primary);
}

.c00 a:link {
    color: var(--theme-links);
}

.yclinks > a {
    color: var(--theme-white);
}

/* Hide everything related with accounts or points */
td[style*="text-align:right"] {
    display: none;
}

.votearrow, .reply {
    display: none;
}

.fatitem tr:last-child {
    display: none;
}
